<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="ModelAttribute" name="ModelAttribute" schema="schema/ModelAttribute.exsd"/>
   <extension-point id="POUAttribute" name="POUAttribute" schema="schema/POUAttribute.exsd"/>
   <extension-point id="Matcher" name="Matcher" schema="schema/Matcher.exsd"/>
   <extension-point id="ActionAttribute" name="ActionAttribute" schema="schema/ActionAttribute.exsd"/>
   <extension-point id="VariableAttribute" name="VariableAttribute" schema="schema/VariableAttribute.exsd"/>
   <extension-point id="LDImplementationAttribute" name="LDImplementationAttribute" schema="schema/LDImplementationAttribute.exsd"/>
   <extension-point id="LDLanguageAttribute" name="LDLanguageAttribute" schema="schema/LDLanguageAttribute.exsd"/>
   <extension-point id="SFCImplementationAttribute" name="SFCImplementationAttribute" schema="schema/SFCImplementationAttribute.exsd"/>
   <extension-point id="SFCLanguageAttribute" name="SFCLanguageAttribute" schema="schema/SFCLanguageAttribute.exsd"/>
   <extension-point id="STImplementationAttribute" name="STImplementationAttribute" schema="schema/STImplementationAttribute.exsd"/>
   <extension-point id="STLanguageAttribute" name="STLanguageAttribute" schema="schema/STLanguageAttribute.exsd"/>
   <extension-point id="FBDImplementationAttribute" name="FBDImplementationAttribute" schema="schema/FBDImplementationAttribute.exsd"/>
	   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="de.tu_bs.cs.isf.familymining.ppu_iec.core"
            application="de.tu_bs.cs.isf.familymining.rcp_e4.core.FrameworkE4Application">
         <property
               name="appName"
               value="de.tu_bs.cs.isf.familymining.ppu_iec.core">
         </property>
         <property
               name="applicationXMI"
               value="de.tu_bs.cs.isf.familymining.rcp_e4.core/Application.e4xmi">
         </property>
      </product>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.ModelAttribute">
      <model_attr
            model_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.model.Model_NumberOfPOUs">
      </model_attr>
      <model_attr
            model_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.model.Model_Name_Levenshtein">
      </model_attr>
      <model_attr
            model_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.model.Model_NamesOfGlobalVariables">
      </model_attr>
      <model_attr
            model_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.model.Model_DataTypeOfGlobalVariables">
      </model_attr>
      <model_attr
            model_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.model.Model_NumberOfGlobalVariables">
      </model_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.POUAttribute">
      <pou_attr
            pou_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.pou.POUIdentifierCompare">
      </pou_attr>
      <pou_attr
            pou_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.pou.POU_Implementation"></pou_attr>
      <pou_attr
            pou_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.pou.POU_NumberOfActions"></pou_attr>
      <pou_attr
            pou_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.pou.POU_ProgrammingLanguage"></pou_attr>
      <pou_attr
            pou_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.pou.POUIdentifierLevenstheinCompare"></pou_attr>
      <pou_attr
            pou_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.pou.POUVariableDetailedCompare"></pou_attr>
      <pou_attr
            pou_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.pou.POUTypeCompare"></pou_attr>
      <pou_attr
            pou_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.pou.POUVariableCompare"></pou_attr>
      <pou_attr
            pou_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.pou.POUVersionInformationCompare"></pou_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.ActionAttribute">
      <action_attr
            action_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.action.ActionNameLevenstein">
      </action_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.VariableAttribute">
      <variable_attr
            variable_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.variable.Variable_AdressesOfVariables">
      </variable_attr>
      <variable_attr
            variable_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.variable.VariableNameCompare">
      </variable_attr>
      <variable_attr
            variable_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.variable.VariableDataTypeCompare">
      </variable_attr>
      <variable_attr
            variable_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.variable.VariableScopeCompare"></variable_attr>
      <variable_attr
            variable_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.variable.VariableLocationCompare">
      </variable_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.Matcher">
      <matcher_obj
            matcher_obj="de.tu_bs.cs.isf.familymining.ppu_iec.core.match.matcher.SortingMatcher">
      </matcher_obj>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.rcp_e4.core.PreferencesPage">
      <pref_page_attr
            pref_page_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.preferences.CompareEnginePreferencePage">
      </pref_page_attr>
      <pref_page_attr
            pref_page_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.preferences.CompareEngineThresholdsPage">
      </pref_page_attr>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
      <processor
            apply="always"
            beforefragment="true"
            class="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.processor.ApplicationWindowProcessor">
      </processor>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.rcp_e4.core.compare.parts.attribute_manager.AttributeMangerExtension">
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.ModelAttributeExtension">
      </attr_manager_attr>
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.ActionAttributeExtension">
      </attr_manager_attr>
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.POUAttributeExtension">
      </attr_manager_attr>
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.VariableAttributeExtension">
      </attr_manager_attr>
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.LDImplAttributeExtension">
      </attr_manager_attr>
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.SFCImplAttributeExtension">
      </attr_manager_attr>
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.STImplAttributeExtension">
      </attr_manager_attr>
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.LDLangAttributeExtension">
      </attr_manager_attr>
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.SFCLangAttributeExtension">
      </attr_manager_attr>
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.STLangAttributeExtension">
      </attr_manager_attr>
      <attr_manager_attr
            attr_manager_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.attributeManager.FBDImplAttributeExtension">
      </attr_manager_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.rcp_e4.parts.project_explorer.ProjectExplorerFileExtension">
      <project_explorer_file_attr
            file_extension="csv"
            project_explorer_file_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.project_explorer.CsvExtension">
      </project_explorer_file_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.STLanguageAttribute">
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.structured_text.ST_NumberIFConditions">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.structured_text.ST_NumberOfConditionalLoops">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.structured_text.ST_NumberOfOperands">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.structured_text.ST_NumberOfOperators">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.structured_text.ST_NumberOfStatements">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.structured_text.ST_TypeOfStatements">
      </st_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.SFCLanguageAttribute">
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.sequential_function_chart.SFC_ConditionOrJump">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.sequential_function_chart.SFC_NamesOfActions">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.sequential_function_chart.SFC_NamesOfSteps">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.sequential_function_chart.SFC_NumberOfActions">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.sequential_function_chart.SFC_NumberOfSteps">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.sequential_function_chart.SFC_NumberOfTransitions">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.sequential_function_chart.SFC_QualifierOfSteps">
      </sfc_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.LDLanguageAttribute">
      <ld_attr
            ld_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.language.ladder_diagram.LD_NumberOfCoils">
      </ld_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.STImplementationAttribute">
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_FunctionCallParameterType">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_FunctionCallNameAttr">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_AssignmentLeftSideName">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_AssignmentLeftSideType">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_IFCondition">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_AssignmentRightSide">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_FunctionCallParameterName">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_While_Condition">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_ForLoopCondition">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_CaseCondition">
      </st_attr>
      <st_attr
            st_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.structured_text.ST_ExitReturnAssignment">
      </st_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.SFCImplementationAttribute">
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.sequential_function_chart.SFC_Step_Name_Attr">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.sequential_function_chart.SFC_StepActivityAttr">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.sequential_function_chart.SFC_StepLinkedVarsTypeAttr">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.sequential_function_chart.SFC_StepInTransitionAttr">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.sequential_function_chart.SFC_StepOutTransitionAttr">
      </sfc_attr>
      <sfc_attr
            sfc_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.sequential_function_chart.SFC_Step_Level_Attr">
      </sfc_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.LDImplementationAttribute">
      <ld_attr
            ld_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.ladder_diagram.LDContactExpressionCompare">
      </ld_attr>
      <ld_attr
            ld_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.ladder_diagram.LDPowerRailAssignment"></ld_attr>
      <ld_attr
            ld_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.ladder_diagram.LDTargetElements">
      </ld_attr>
      <ld_attr
            ld_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.ladder_diagram.LDSourceElements">
      </ld_attr>
      <ld_attr
            ld_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.ladder_diagram.LDCoilExpressionCompare">
      </ld_attr>
      <ld_attr
            ld_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.ladder_diagram.LDJumpCompare">
      </ld_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.ppu_iec.core.FBDImplementationAttribute">
      <fbd_attr
            fbd_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.function_block_diagram.FBDBlockName">
      </fbd_attr>
      <fbd_attr
            fbd_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.function_block_diagram.FBDBlockType">
      </fbd_attr>
      <fbd_attr
            fbd_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.function_block_diagram.FBDBlockInputElements">
      </fbd_attr>
      <fbd_attr
            fbd_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.function_block_diagram.FBDBlockOutElements">
      </fbd_attr>
      <fbd_attr
            fbd_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.function_block_diagram.FBDBlockInPorts">
      </fbd_attr>
      <fbd_attr
            fbd_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.function_block_diagram.FBDBlockOutPorts">
      </fbd_attr>
      <fbd_attr
            fbd_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.function_block_diagram.FBDBlockLevel">
      </fbd_attr>
      <fbd_attr
            fbd_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.compare.attributes.implementation.function_block_diagram.FBDJumpCompare">
      </fbd_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.rcp_e4.core.compare.parts.detail_view.DetailView">
      <detail_view_attr
            detail_view_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.detail_view.similarity_detail.SimilarityView">
      </detail_view_attr>
      <detail_view_attr
            detail_view_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.detail_view.text_diff.TextDifferenceView">
      </detail_view_attr>
      <detail_view_attr
            detail_view_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.detail_view.sfc_diff.SFCDifferenceView">
      </detail_view_attr>
      <detail_view_attr
            detail_view_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.detail_view.diagram_diff.DiagramDetailView">
      </detail_view_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.familymining.rcp_e4.parts.project_explorer.ProjectExplorerWorkspaceStructure">
      <workspace_structure_attr
            workspace_structure_attr="de.tu_bs.cs.isf.familymining.ppu_iec.core.contribution.project_explorer.IECWorkspaceStructure">
      </workspace_structure_attr>
   </extension>
</plugin>
