.step {
	-fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.startstep {
	-fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
	-fx-background-insets: 2, 3, 2;
	-fx-background-radius: 3,2,1;
    -fx-text-fill: black;
    -fx-font-size: 12px;
	-fx-padding: 3 20 3 20;
    -fx-border-color: black,black; /* set border to red*/
    -fx-border-insets: 0, 2 ;
    -fx-border-width: 1; /* border width 3px */
}



